<!-- <div>
 <h1> {{pageHeader}}</h1>
 <h1>{{getFullName()}}</h1>
 <img src="{{imagePath}}"/> 
</div> -->
<!-- <my-emp></my-emp> -->
<br/>
<nav>
     <a routerLink='/home' routerLinkActive='active'>Home</a> 
     <a routerLink='/employees' routerLinkActive='active'>EmployeesList</a> 
    </nav>
  <router-outlet></router-outlet>

<!-- <div>
  <button class='colorclass' [ngClass]='applyclasses()'>My Button</button>
</div> -->
<!-- <div>
 Name: <input [value]='name'  (input)='name=$event.target.value'/> 
Name: <input [(ngModel)]='name'/>

<br>You Entered:{{name}}
</div> -->
<!-- <list-employee></list-employee> -->
<br>

